<nav class="nav">
  <ul class="navigation-links">
    <li>
      <a routerLink="/currency/latest/{{baseCurrency}}" routerLinkActive="active">Latest Rates</a>
    </li>
    <li>
      <a routerLink="/currency/last-month/{{baseCurrency}}/{{exchangeCurrency}}" routerLinkActive="active">Last 30 Days</a>
    </li>
    <li>
      <a routerLink="/currency/top-five/{{baseCurrency}}" routerLinkActive="active">Top Five</a>
    </li>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
