/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeicons/primeicons.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: #f5f3f3;
}

body {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", HelveticaNeue, Arial;
  margin: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

th, td {
  text-align: center;
}

.content {
  padding: 0 10px;
  max-width: 1000px;
  margin: 20px auto 30px;
}

.actions {
  margin-bottom: 10px;
}

.label {
  margin: 0 10px;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.buttons {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 600px) {
  .actions {
    display: flex;
  }

  .select {
    justify-content: start;
  }
}
